################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Casino Royale Frontend/.vs
/Casino Royale Frontend/.vscode
/Casino Royale Frontend/node_modules
