################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Casino Royale Frontend/.vs
/Casino Royale Frontend/.vscode
/Casino Royale Frontend/node_modules
/Casino Royale Backend/Casino Royale Backend/bin/Debug/net8.0
/Casino Royale Backend/.vs
/Casino Royale Backend/Casino Royale Backend/Migrations
/Casino Royale Backend/Casino Royale Backend/obj
